#create-workplace-form {
    margin: 0 auto;
    max-width: 500px;
}

#create-workplace-form label {
    margin-bottom: 5px;
}

#create-workplace-form .form-control {
    margin-bottom: 15px;
}

#create-workplace-form .form-control-file {
    margin-bottom: 20px;
}