<h2>API Documentation</h2>

<p>This documentation provides information about the Timereporting API.</p>

<h3>Authentication</h3>
<p>The Timereporting API uses JSON Web Tokens (JWT) for authentication. To access the API endpoints, you need to include a valid JWT token in the Authorization header of your requests.</p>

<h3>API Endpoints</h3>
<p>The following endpoints are available:</p>
 <ul>
    <li><strong>GET /api/v1/user</strong>: Retrieve all users.</li>
    <li><strong>GET /api/v1/user/{id}</strong>: Retrieve a user by ID.</li>
    <li><strong>POST /api/v1/user</strong>: Create a new user.</li>
    <li><strong>PUT /api/v1/user/{id}</strong>: Update an existing user by ID.</li>
    <li><strong>DELETE /api/v1/user/{id}</strong>: Delete a user by ID.</li>
    <li><strong>GET /api/v1/reporttype</strong>: Retrieve all report types.</li>
    <li><strong>GET /api/v1/reporttype/{id}</strong>: Retrieve a report type by ID.</li>
    <li><strong>POST /api/v1/reporttype</strong>: Create a new report type.</li>
    <li><strong>PUT /api/v1/reporttype/{id}</strong>: Update an existing report type by ID.</li>
    <li><strong>DELETE /api/v1/reporttype/{id}</strong>: Delete a report type by ID.</li>
    <li><strong>GET /api/v1/timereport</strong>: Retrieve all timereports.</li>
    <li><strong>GET /api/v1/timereport/{id}</strong>: Retrieve a timereport by ID.</li>
    <li><strong>POST /api/v1/timereport</strong>: Create a new timereport.</li>
    <li><strong>PUT /api/v1/timereport/{id}</strong>: Update an existing timereport by ID.</li>
    <li><strong>DELETE /api/v1/timereport/{id}</strong>: Delete a timereport by ID.</li>
    <li><strong>GET /api/v1/workplace</strong>: Retrieve all workplaces.</li>
    <li><strong>GET /api/v1/workplace/{id}</strong>: Retrieve a workplace by ID.</li>
    <li><strong>POST /api/v1/workplace</strong>: Create a new workplace.</li>
    <li><strong>PUT /api/v1/workplace/{id}</strong>: Update an existing workplace by ID.</li>
    <li><strong>DELETE /api/v1/workplace/{id}</strong>: Delete a workplace by ID.</li>
</ul>

<h3>API Access</h3>
<p>To access the Timereporting API, you need to include the API access token in the Authorization header of your requests.</p>
<p>The API access token should be obtained by authenticating with valid credentials and requesting a token from the authentication endpoint.</p>

<h3>Swagger Documentation</h3>
<p>The Timereporting API provides Swagger documentation for easier API exploration.</p>
<p>To access the Swagger documentation, open the following URL in your browser:</p>
<pre><code>http://localhost:5000/swagger</code></pre>
<p>This will display the Swagger UI, where you can view the available endpoints, their descriptions, and interact with them.</p>