<h3 class="mt-5">Webpack Configuration Documentation</h3>

<p>This documentation provides instructions for configuring and using Webpack for your project.</p>

<h5>Prerequisites</h5>
<ul>
    <li>Node.js (with npm)</li>
    <li>Webpack</li>
</ul>

<h5>Step 1: Download Node.js</h5>
<ol>
    <li>Go to the Node.js website: <a href="https://nodejs.org" target="_blank">https://nodejs.org</a></li>
    <li>Download the appropriate installer for your operating system.</li>
    <li>Double-click the installer file and follow the instructions to complete the installation.</li>
</ol>

<h5>Step 2: Install Webpack and Dependencies</h5>
<p>Once Node.js is installed, open a terminal or command prompt and navigate to your project's root directory.</p>

<h5>Step 3: Development Environment</h5>
<p>To start the development environment, open a terminal or command prompt and run the following command:</p>
<pre><code>npm run mvc-dev</code></pre>
<p>This command will bundle all the assets into the <code>wwwroot</code> folder of your web project and start the JSON server for the API.</p>

<h5>Step 4: Production Environment</h5>
<p>To build the project for the production environment, open a terminal or command prompt and run the following command:</p>
<pre><code>npm run mvc-build</code></pre>
<p>This command will bundle the assets with minified versions suitable for the production environment.</p>

<p>Congratulations! You have successfully downloaded and installed Node.js and Webpack. You can now configure and build your project using Webpack.</p>