<!-- Start submission failed modal -->
<div class="modal submission-failed-modal fade show" id="submissionFailedModal" tabindex="-1" role="dialog" aria-labelledby="submissionFailedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!-- Modal title -->
                <h5 class="modal-title" id="submissionFailedModalTitle">Submission Failed</h5>
                <!-- Close button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Display the failure image at the center -->
                <div class="d-flex justify-content-center">
                    <img src="~/img/shared/modals/form-submission/failure-modal/failure-image.gif" alt="Failure" class="failure-image">
                </div>
                <!-- Failure Title and Message -->
                <div class="text-center mt-3">
                    <h6 class="failure-title">Submission Failed</h6>
                    <p class="failure-message">The submission was unsuccessful. Please try again later.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End report submission failed modal -->

