<!-- Bootstrap Modal -->
<div class="modal fade" id="createWorkplaceModal" tabindex="-1" aria-labelledby="workplaceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="workplaceModalLabel">Worplace Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Display workplace information and image here -->
                <p>Id: 1</p>
                <p>Name: Köksrenovering Kungsgatan 19</p>
                <p>Time: 2017-11-05 20:52:49</p>
                <p>Info: "Köksrenovering Kungsgatan 19" är en arbetsplats som specialiserar sig på att renovera kök på adressen Kungsgatan 19, Göteborg. De utför omfattande köksrenoveringar, inklusive installation av nya köksskåp, arbetsbänkar och vitvaror. Målet är att skapa moderna och funktionella köksmiljöer som uppfyller kundernas behov och önskemål.</p>
                <!-- Add workplace image here -->
                <img src="~/img/default/workplace/no_workplace_image.png" alt="Workplace Image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>