<div class="text-left mt-5">
    <h1 class="display-6">Time Reports</h1>
    <p>Use the filters below to search for time reports and view the results in the table.</p>
    <h4>Filter Options:</h4>
    <ul>
        <li>Selecting only the workplace name will display all reports for that workplace throughout its existence.</li>
        <li>Selecting the workplace and specifying the "from date" will show reports from the selected date up to the current date.</li>
        <li>Selecting the workplace and specifying the "to date" will display reports from the date the workplace was added up to your selected "to date".</li>
        <li>Selecting the workplace, "from date," and "to date" will show reports within the specified date range.</li>
    </ul>
</div>

<form id="time-report-form">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label" for="workplace-select">Select workplace:</label>
            <select class="form-select" id="workplace-select">
                <option>Workplace 1</option>
                <option>Workplace 2</option>
                <option>Workplace 3</option>
            </select>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="from-date">From date:</label>
            <input type="date" class="form-control" id="from-date">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="to-date">To date:</label>
            <input type="date" class="form-control" id="to-date">
        </div>
    </div>
    <div class="btn-group d-block">
        <div class="mt-4 mb-4 float-start">
            <form id="getDataForTimeReportsTable" asp-controller="Timereport" asp-action="PreviewTimeReport" method="get">
                <button id="getReportsButton" class="btn btn-secondary" onclick="fetchTimeReports(event)"><span>DISPLAY REPORTS<i class="bi bi-search m-2"></i></span></button>
            </form>
        </div>
        <div class="mt-4 mb-4 float-end">
            <form id="getViewCreateTimeReport" asp-controller="Timereport" asp-action="CreateTimeReport" method="get">
                <button id="createReportsButton" class="btn btn-secondary" type="submit">CREATE REPORT<i class="bi bi-calendar3 m-2"></i></button>
            </form>
        </div>
    </div>
</form>

<table id="time-report-table" class="table table-striped mt-4">
    <thead>
        <tr>
            <th scope="col" class="col-4">Date</th>
            <th scope="col" class="col-4">Workplace</th>
            <th scope="col" class="col-2">Hours</th>
            <th scope="col" class="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2022-05-01</td>
            <td>Workplace 1</td>
            <td>08.00</td>
            <td>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#createReportModal">
                    <i class="btn btn-secondary bi bi-info-circle m-0"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>2022-05-02</td>
            <td>Workplace 2</td>
            <td>07.00</td>
            <td>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#createReportModal">
                    <i class="btn btn-secondary bi bi-info-circle m-0"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>2022-05-03</td>
            <td>Workplace 3</td>
            <td>06.00</td>
            <td>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#createReportModal">
                    <i class="btn btn-secondary bi bi-info-circle m-0"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!--Include report enrichment view modal window -->
<partial name="~/Views/TimeReport/Modals/_ViewTimeReportModal.cshtml" />


<!--Include required JS modules based on environment-->
<environment include="Development">
    <script src="~/js/previewTimeReportModule/previewTimeReportModule.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/previewTimeReportModule/previewTimeReportModule.min.js" asp-append-version="true"></script>
</environment>