@model TimereportPreviewModel

<div class="justify-content-center text-center">
    <div class="m-2">
            <label class="d-block p-2 m-2">Välj API-alternativ:</label>
            <select class="api-select" id="api-endpoint">
                <option value="https://arbetsprov.trinax.se/api/v1" selected>Trinax Web API</option>
                <option value="http://localhost:5000/api/v1">Fallback API</option>
            </select>
    </div>
</div>

<section id="filters" class="row">
    <div class="col-md-4">
        <label class="form-label" for="workplace-select">Välj arbetsplats:</label>
        <select id="workplace-filter" class="form-select">
            @if(Model.Workplaces != null){
                foreach (var workplace in Model.Workplaces)
                {
                    <option value="@workplace.WorkplaceId">@workplace.Name</option>
                }
            }
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label" for="from-date">Från datum</label>
        <input type="date" class="form-control" id="from-date">
    </div>
    <div class="col-md-4">
        <label class="form-label" for="to-date">Till datum::</label>
        <input type="date" class="form-control" id="to-date">
    </div>
    <div class="btn-group d-block">
        <div class="mt-4 mb-4 float-start">
            <button id="get-timereports" class="btn btn-secondary"><span>VISA RAPPORTER<i class="bi bi-search m-2"></i></span></button>
        </div>
        <div class="mt-4 mb-4 float-end">
            <a asp-controller="Timereport" asp-action="CreateTimereport" class="btn btn-secondary" type="submit">SKAPA RAPPORT<i class="bi bi-calendar3 m-2"></i></a>
        </div>
    </div>
</section>


<table id="time-report-table" class="table table-striped mt-4">
    <thead>
        <tr>
            <th scope="col" class="col-4">Datum</th>
            <th scope="col" class="col-4">Arbetsplatsnamn</th>
            <th scope="col" class="col-2">Timmar</th>
            <th scope="col" class="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div id="modal-container">

</div>



<!--Include required JS modules based on environment-->
<environment include="Development">
    <script src="~/js/previewTimeReportModule/previewTimeReportModule.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/previewTimeReportModule/previewTimeReportModule.min.js" asp-append-version="true"></script>
</environment>