/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/applicationCommon.scss ***!
  \**************************************************************************************************************************/
.btn-secondary {
  background-color: #DD2743 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  color: #ffffff !important;
  transition: box-shadow 0.3s !important;
  border: 0 !important;
}

.btn-secondary:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body.disable-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

a {
  color: #DD2743;
  text-decoration: none;
}

a:hover {
  color: #01D8E0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

.nav-link {
  display: flex !important;
  align-items: center !important;
  color: #000000 !important;
  text-decoration: none !important;
  transition: color 0.3s !important;
}

.nav-link:hover {
  color: #DD2743 !important;
}

.link-text {
  margin-left: 8px !important;
}

.logo {
  height: 30px;
  width: auto;
}

.logo-text {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  color: #DD2743;
}

/*--------------------------------------------------------------==
    # Footer
    --------------------------------------------------------------*/
.footer {
  background-color: #F2F2F2;
  padding-top: 60px;
  border-top: 0.5px solid lightgray;
}
.footer-contact-cards {
  border-bottom: 1px solid #F2F2F2;
}
.footer-contact-cards .row {
  margin: 0;
  padding: 0;
}
.footer-contact-cards .row div {
  margin-bottom: 10px;
}
.footer-contact-cards .row span {
  color: #FFFFFF;
  margin-left: 0;
}
.footer-contact-cards .row i:hover {
  transform: scale(1.1);
  color: #DD2743;
}
.footer-single-card i {
  color: #DD2743;
  font-size: 26px;
  float: left;
  margin-top: 10px;
}
.footer-single-card-text {
  padding-left: 15px;
  display: inline-block;
}
.footer-single-card-text span {
  color: #111111 !important;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 14px;
}
.footer-single-card-text-heading {
  display: block;
  color: #DD2743;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}
.footer-single-card-text-heading p {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 28px;
}
.footer-link-cards {
  padding: 40px 15px 60px;
  position: relative;
  z-index: 2;
}
.footer-link-cards .single-card {
  text-align: left !important;
}
.footer-link-cards .single-card p {
  color: #DD2743;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-link-cards .single-card p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #DD2743;
}
.footer-link-cards .single-card ul li {
  width: 50%;
  margin-bottom: 12px;
}
.footer-link-cards .single-card ul li a {
  color: #FFFFFF;
  text-transform: capitalize;
  color: #111111;
}
.footer-link-cards .single-card ul li a:hover {
  color: #DD2743;
}
.footer-subscribe-form {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  color: #777777;
}
.footer-subscribe-form input {
  width: 100%;
  padding: 14px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  margin-bottom: 30px;
}
.footer-subscribe-form button {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 50px;
  background: #F2F2F2;
  padding: 10px 15px;
  border: 1px solid #DD2743;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer-subscribe-form button:hover {
  background-color: #DD2743;
  color: #FFFFFF;
}
.footer-subscribe-form button:hover i {
  transform: rotate(-6deg);
}

.copyright-text {
  margin: 0;
  font-size: 14px;
  color: #111111;
}

.footer-menu {
  margin: 0;
  text-align: left;
}
.footer-menu li {
  display: inline-flex;
  padding: 10px;
}
.footer-menu li a {
  font-size: 14px;
  color: #111111;
}
.footer-menu li a:hover {
  color: #DD2743;
}

/* Customize modal header */
.modal-header {
  background-color: #DD2743;
  color: #fff;
}

.modal-title {
  font-size: 24px;
}

.modal-body {
  margin-top: 30px;
  padding: 30px !important;
}

/* Style form inputs */
.input-group-text {
  background-color: #333;
  color: #fff;
}

.form-control {
  border-color: #333;
}

.invalid-feedback {
  color: red;
}

/* Style form submit button */
.btn-primary {
  background-color: #f96332;
  border-color: #f96332;
  font-weight: bold;
}

/* Style social login buttons */
.btn-outline-dark {
  border-color: #333;
  color: #333;
}

.btn-icon {
  display: flex;
  align-items: center;
}

.m-1 {
  margin: 0.5rem;
}

/* Style success alerts */
.alert.alert-success {
  background-color: #4caf50;
  color: #fff;
}

.alert.alert-success .close {
  color: #fff;
}

/* Style error alerts */
.alert.alert-danger {
  background-color: #f44336;
  color: #fff;
}

.alert.alert-danger .close {
  color: #fff;
}

/* Style form inputs */
.input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.input-group-text {
  background-color: #333;
  color: #fff;
  border: none;
}

.input-group-prepend {
  display: flex;
}

.input-group .form-control {
  border-color: #333;
  padding-left: 1rem;
}

/* Adjust icon size */
.input-group-text i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
}

#image-preview {
  height: auto !important;
  width: 100% !important;
  border: 1px solid lightgray;
}

.file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file-input-label {
  display: inline-block;
  background-color: #007bff !important;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.file-input-label:hover {
  background-color: #0069d9 !important;
  cursor: pointer;
}

.file-input-label:active {
  background-color: #0056b3 !important;
}

.file-input-icon {
  display: inline-block;
  vertical-align: middle;
}

#create-time-report-form {
  margin: 0 auto;
  max-width: 500px;
}

#create-time-report-form label {
  margin-bottom: 5px;
}

#create-time-report-form .form-control {
  margin-bottom: 15px;
}

#create-time-report-form .form-control-file {
  margin-bottom: 20px;
}

.table-responsive {
  height: 100%;
}

#create-workplace-form {
  margin: 0 auto;
  max-width: 500px;
}

#create-workplace-form label {
  margin-bottom: 5px;
}

#create-workplace-form .form-control {
  margin-bottom: 15px;
}

#create-workplace-form .form-control-file {
  margin-bottom: 20px;
}

/*# sourceMappingURL=applicationCommon.css.map*/