<!-- Bootstrap Modal -->
<div class="modal fade" id="createReportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Time Report Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Display report information and image here -->
                <p>Date: 2022-05-01</p>
                <p>Workplace: Workplace 1</p>
                <p>Address: Kungsgatan 19, 41119 Göteborg</p>
                <p>Hours Worked: 08:00</p>
                <!-- Add report image here -->
                <img src="~/img/default/timereport/no_time_report_image.png" alt="Report Image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>