.btn-secondary {
    background-color: #DD2743 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    color: #ffffff !important;
    transition: box-shadow 0.3s !important;
    border: 0 !important;
}

.btn-secondary:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
}

#create-time-report-form {
    margin: 0 auto;
    max-width: 500px;
}
