<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Include header reference -->
        <partial name="~/Views/Shared/Scripts/_HeaderReference.cshtml" />
    </head>
    <body>
        <!-- Include App header -->
        <partial name="~/Views/Shared/Structure/_AppHeader.cshtml" />
        <!-- App root -->
        <div class="container footer-container mt-5">
            <main role="main" class="content">
                <!--Render view compnents-->
                @RenderBody()
            </main>
        </div>
        <!-- Include App footer -->
        <partial name="~/Views/Shared/Structure/_AppFooter.cshtml" />
        <!-- Include footer reference -->
        <partial name="~/Views/Shared/Scripts/_FooterReference.cshtml" />
    </body>
</html>