<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-contact-cards pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="footer-single-card">
                        <a href="https://www.google.com/maps/dir/Current+Location/%4058.2765494,12.2354238,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x46453c6341f59feb:0x6c1c612ede6b4d78!2m2!1d12.3178234!2d58.2764856" target="_blank" rel="noopener"><i class="bi bi-geo-alt" data-toggle="tooltip" data-placement="left" title="Click to get directions!"></i></a>
                        <div class="footer-single-card-text">
                            <p class="footer-single-card-text-heading">Get Directions</p>
                            <p>
                                Montörvägen 4
                                461 37 Trollhättan
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="footer-single-card">
                        <a href="tel:+46317567900"><i class="bi bi-phone" data-toggle="tooltip" data-placement="left" title="Click to make a call!"></i></a>
                        <div class="footer-single-card-text">
                            <p class="footer-single-card-text-heading">Call Us</p>
                            <p>+46 (0)31 – 756 79 00</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="footer-single-card">
                        <a href="mailto:support@dstx.se"><i class="bi bi-envelope" data-toggle="tooltip" data-placement="left" title="Click to send email!"></i></a>
                        <div class="footer-single-card-text">
                            <p class="footer-single-card-text-heading">Send Email</p>
                            <p>support@dstx.se</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-link-cards">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="single-card">
                        <div class="heading">
                            <p>Documentation Backend</p>
                        </div>
                        <ul>
                            <li><a asp-controller="Documentation" asp-action="DockerCompose">Docker Compose Documentation</a></li>
                            <li><a asp-controller="Documentation" asp-action="DatabaseWorks">Database Documentation</a></li>
                            <li><a asp-controller="Documentation" asp-action="ApiDocumentation">API Documentation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="single-card">
                        <div class="heading">
                            <p>Documentation Backend</p>
                        </div>
                        <ul>
                            <li><a asp-controller="Documentation" asp-action="WebpackBundling">Webpack Module Bundling</a></li>
                            <li><a asp-controller="Documentation" asp-action="MetadataInjection">Metadata Injection</a></li>
                            <li><a asp-controller="Documentation" asp-action="PerformanceOptimization">Performance Optimization</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="single-card">
                        <div class="heading">
                            <p>Subscribe</p>
                        </div>
                        <form id="subscribe-form" class="footer-subscribe-form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="position:relative !important;">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
                            <button id="submit-subscribtion-form" aria-label="SUBMIT" type="submit" href="javascript:void(0)" class="btn-secondary">
                                <i class="bi bi-send"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">
                <div class="footer-menu">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Privacy" asp-action="Index">Privacy</a></li>
                        <li><a href="/sitemap.xml">Sitemap</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">
                <div class="copyright-text">
                    <p>Copyright &copy; DSTX AB 2023 | All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End  Footer -->
<a id="scrollToTopBtn" class="btn btn-secondary back-to-top d-flex align-items-center justify-content-center scrollto p-2"><i class="bi bi-chevron-up"></i></a>