<!-- ======= Header ======= -->
<header id="header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-logo">
                <a class="navbar-brand m-0 p-0" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/favicon-64x64.png" />
                    <span class="logo-text">Timereporting.Web v 1.0.0</span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 mt-1">
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-controller="Workplace" asp-action="PreviewWorkplace">
                            <i class="bi bi-building m-2"></i>
                            <strong class="link-text">WORKPLACES</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-controller="TimeReport" asp-action="PreviewTimeReport">
                            <i class="bi bi-stopwatch m-2"></i>
                            <strong class="link-text">TIME REPORTS</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End  Header -->